/* Custom CSS Functionality */

/* Header Globe Icon */
.logo
{
    font-size: 3vh;
}

.w-4 {
    width: 24vh;
}

.bg-grey {
    background-color: lightgrey;
}

h6 {
    margin: 0;
    padding: 0;
    font-weight: lighter;
    display: inline;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.core-cont {
    border-style: solid;
    border-width: 1px;
    background-color: lightgrey;
    padding: 2%;
    margin-top: 2vh;
}

.logregbuts {
    transition: 1s;
    width: 100%;
}

.logregbuts:hover {
    background-color: darkgrey;
    transition: 1s;
    width: 90%;
    border-radius: 16px;
}

.link-unstyled,
.link-unstyled:visited,
.link-unstyled:hover,
.link-unstyled:active,
.link-unstyled:focus,
.link-unstyled:active:hover {
    all:inherit;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

input:valid
{
    color: green;
}

input:invalid
{
    color: red;
}

.portal-button {
    font-size: 3vh;
    border-style: solid;
    border-width: 1px;
    padding: 25px;
    margin: 25px;
    text-align: center;
    width: 150px;
    display: block;
    color: black;
}

.portal-button:hover {
    background-color: grey !important;
    color: black;
}

.portal-button hr {
    margin: 1vh;
}